<div style="text-align: center; margin:5px">
<h1>This is not the page you were looking for!</h1>
<hr>
<p><strong>Please note: The 404 or not found error messsage is an http standard responce code indicating that the client was able to communicate
    with the sever, but that the server could not find the requested page.</strong></p>
<h1> Ok I ate the page :(</h1>
<img class="img-responsive" src="./../../../../src/assets/images/dog.png" alt="I ate it" style="max-width:100%;padding-bottom:5px">
</div>